.btn {
  font-family: "Luckiest Guy";
  color: #fff;
  background: url("../../assets/images/buttonCloud.png");
  background-size: 100% 100%;
  border: none;
  background-repeat: no-repeat;
  aspect-ratio: 25/9;
  padding: 1rem;
  cursor: pointer;
}
