.container {
  background-image: url("../../assets/images/cinematicsBg.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a7af8;
}
.container img {
  height: 94%;
  width: auto;
}