.container {
  height: 100vh;
  width: 100vw;
  background-color: #0a7af8;
  position: relative;
  background-image: url("../../assets/vectors/bottomCloud.svg"), url("../../assets/vectors/clouds/cloud1.svg"),
    url("../../assets/vectors/clouds/cloud1.svg"), url("../../assets/vectors/clouds/cloud1.svg"),
    url("../../assets/vectors/clouds/cloud4.svg"), url("../../assets/vectors/clouds/cloud1Fade.svg"),
    url("../../assets/vectors/clouds/cloud3Fade.svg"), url("../../assets/vectors/gems/redDiamond.svg"),
    url("../../assets/vectors/gems/turquoiseStone.svg"), url("../../assets/vectors/gems/dollarCoin.svg"),
    url("../../assets/vectors/clouds/cloud6.svg");
  background-size: contain, 15%, 9%, 6%, 8%, 5%, 8%, 3%, 3%, 2.5%, 17%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 3% 13%, 76% 23%, 92% 33%, 100% 10%, 64% 14%, 31% 29%, 16% 66%, 69% 59%, 90% 82%, 29% 7%;
  background-origin: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.char1 {
  left: 4%;
  top: 25%;
  position: absolute;
  width: 11%;
  min-width: 110px;
}
.char2 {
  position: absolute;
  right: 5%;
  top: 10px;
  width: 11%;
  min-width: 140px;
}
.char3 {
  width: 23%;
  margin: 3rem auto 2rem;
  display: block;
  max-width: 300px;
  height: auto;
}
.ttl {
  padding: 2.5rem 2rem;
  letter-spacing: 3px;
  font-size: 2.5rem;
  text-transform: uppercase;
  background: url("../../assets/images/buttonCloud.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-weight: 400;
}
