.launchBG {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.launchBG svg {
  width: 30%;
  max-width: 200px;
  min-width: 120px;
}
